@{
    ViewData["Title"] = "Multiplicar";
}
<h1>Multiplicar</h1>

<form 
    action="/OperacoesMatematicas/ResultadoMultiplicacao" 
    method="post">

    <label for="n1">Número 1</label>
    <input type="text" id="n1" name="n1">

    <label for="n2">Número 2</label>
    <input type="text" id="n2" name="n2">

    <input type="submit" value="Multiplicar">

</form>